# Réseau / Wi-Fi
CONFIG_ESP_WIFI_SSID="dummy"
CONFIG_ESP_WIFI_PASSWORD="dummy"
CONFIG_ESP_WIFI_STA_AUTO_CONNECT=y

# HTTP client (mbedTLS)
CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS=y

# LOG
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Sleep / wake
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_ESP_SLEEP_GPIO_RESET_WORKAROUND=y
CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=y
CONFIG_ESP_SLEEP_RTC_BUS_ISO_WORKAROUND=y
CONFIG_TOUCH_SENSOR_ENABLE=y
CONFIG_ESP_SLEEP_TOUCH_WAKEUP=y

# Touch driver legacy (API touch_pad_*)
CONFIG_TOUCH_PAD_FILTER_ENABLE=y

CONFIG_APP_TOUCH_PAD_NUM=3
CONFIG_APP_TOUCH_THRESH_PCT=70